*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.block h2 {
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.box {
    border: 1px dotted #ccc;
    padding: 15px;
    display: flex;
    height: 120px;
}

.item {
    background: #1e63e9;
    height: 20px;
    margin: 5px;
}

.small { 
    width: 40px; 
}
.medium { 
    width: 80px; 
}
.large { 
    width: 150px; 
}

/* FLEX PROPERTIES */
.flex-start { 
    align-items: flex-start; 
}
.flex-end { 
    align-items: flex-end; 
}
.center { 
    align-items: center; 
}
.stretch { 
    align-items: stretch; 
}
.space-between { 
    justify-content: space-between; 
}
.space-around { 
    justify-content:space-around; 
}