* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    
}

header {

    background-color:rgb(115, 7, 7);
    padding: 10px 20px;
    
}

.navbar{

    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navbar .logo{

    color: #fff;
    font-size:24px;
    font-weight: bold;
    float:left;
}

.nav-links{
    list-style:none;
    margin:0;
    padding: 0;
}
.nav-links li{
    float:left;
    margin: 0 15px;
}

.slider-container {
    position: relative;
    width: 100%; 
    /* max-width: 800px;
    margin: 20px auto;
    overflow: hidden; */

}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width:100%;
    height: 500px;
}

.slider img {
    width: 100%; /* This ensures the images stretch to the container's width */
    height: auto; /* Keeps the aspect ratio of images intact */
    object-fit: cover; /* Ensures images are properly cropped without distortion */
}


.slider img {
    height: 100%; /* Make images fill the height of the container */
    object-fit: cover; /* Ensures images cover the container area without stretching */
}

iframe{
    width: 100%;

}
.section,h1,p{
    text-align: center;
}

